body{
    background-color: lightblue;
}

h1{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-style: bold;
    color: red;
}
.answer-btn{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 40px;
    background-color: darkgray;
    color: darkred;
    border: 3px solid royalblue;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    color: darkred;
    border: 3px solid royalblue;
    height: 60px;
    width: 200px;
}
#timeRemainingDiv{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 30%;
}
#questionDiv{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: royalblue;   
}
#choicesDiv{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
    color: darkred;
}
#correctImageDiv{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
}